.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  form {
    width: -webkit-fill-available;
    background-color: white;
    max-width: 600px;
    border-radius: 1rem;
    padding: 2rem;
  }
}
